<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.
             org/thymeleaf-extras-springsecurity3">

<head>
  <meta charset="ISO-8859-1">
  <title>Spring Security Demo</title>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<style>
  .container {
    background-color: indianred;
  }
</style>

<body>

<br><br><br><br>
<div class="container">
  <div class="alert alert">
    <strong>Bad!</strong> Very bad.
  </div>
</div>
</body>
</html>