<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Spring Security Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link th:href="@{/css/delete.css}" type="text/css" rel="stylesheet" href="../public/css/delete.css" >


</head>


<body>


<th:block th:replace="fragments/header :: header"></th:block>
<br><br><br><br><br><br><br>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="tab">
                <!-- error message -->


            <form th:action="@{/user/delete}" method="post">
                <div class="form-group">
                    <h3 >delete profile</h3>
                    <div th:if="${param.error}">
                        <div class="alert">Something goes wrong.Try again.</div>
                    </div>
                    <label for="password">Confirm Password</label>:
                    <input type="password" id="password" name="password"
                           class="form-control" />
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="delete-submit"
                                   id="delete-submit"
                                   class="btn"
                                   value="delete"/>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<script>  document.addEventListener("DOMContentLoaded",getName())
function getName () {
    $.get("/user/name",function (name,status){
        $("#navbardrop").html(name);
    });
};
</script>

</body>
</html>