<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Spring Security Demo</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .navbar {
            background: #200122;
        }
    </style>

</head>

<body>

<th:block th:replace="fragments/header :: header"></th:block>
<br><br><br><br>
<div class="container">
    <div class="alert alert-success">
        <strong>Success!</strong> Login Successful.
    </div>
</div>
</body>
</html>