<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link th:href="@{/css/registration.css}" type="text/css" rel="stylesheet" href="../public/css/registration.css" >

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6"> <!-- размер и смешение колонки-->

            <div class="tab">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li><a href="/" th:href="@{/login}">sign in</a></li>
                    <li class="active"><a href="/" th:href="@{/user/registration}">sign up</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <form class="form-horizontal" th:action="@{/user/registration}" method="post"
                          th:object="${user}">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input th:field="*{firstName}" type="text" class="form-control" id="firstName">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}"
                               th:errors="*{firstName}">Incorrect date</p>

                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input th:field="*{lastName}" type="text" class="form-control" id="lastName">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}"
                               th:errors="*{lastName}">Incorrect date</p>

                        </div>
                        <div class="form-group">
                            <label for="number">Number</label>
                            <input th:field="*{number}" type="tel" class="form-control" id="number">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">
                                Incorrect date</p>

                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input th:field="*{email}" type="email" class="form-control" id="email">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                                Incorrect date</p>

                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input th:field="*{password}" type="password" class="form-control" id="password">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}"
                               th:errors="*{password}">Incorrect date</p>

                        </div>
                        <div class="form-group">
                            <label for="helperPassword">Confirm Password</label>
                            <input th:field="*{helperPassword}" type="password" class="form-control"
                                   id="helperPassword">
                            <p class="alert alert-danger" th:if="${user.password != user.helperPassword}"
                               th:errors="*{helperPassword}" >Passwords dont match</p>


                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Sign up</button>
                        </div>
                    </form>
                </div>

            </div>

        </div><!-- /.col-md-offset-3 col-md-6 -->
    </div><!-- /.row -->

</div>
