<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<link th:href="@{/css/update.css}" type="text/css" rel="stylesheet" href="../public/css/update.css" >

<th:block th:replace="fragments/header :: header"></th:block>
<br><br><br><br><br>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3"> <!-- размер и смешение колонки-->

            <div class="tab">
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <form class="form-horizontal" th:action="@{/user/update}" method="post"
                          th:object="${user}">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input th:field="*{firstName}" type="text" class="form-control" id="firstName">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" >Incorrect date</p>

                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input th:field="*{lastName}" type="text" class="form-control" id="lastName">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" >Incorrect date</p>

                        </div>
                        <div class="form-group">
                            <label for="number">Number</label>
                            <input th:field="*{number}" type="tel" class="form-control" id="number">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('number')}" th:errors="*{number}" >Incorrect date</p>

                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input th:field="*{email}" type="email" class="form-control" id="email">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" >Incorrect date</p>

                        </div>

                        <div class="form-group">
                            <label for="password">current Password</label>
                            <input th:field="*{password}" type="password" class="form-control" id="password">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" >Incorrect date</p>

                        </div>
                        <div class="form-group">
                            <label for="helperPassword">New Password</label>
                            <input th:field="*{helperPassword}" type="password" class="form-control"
                                   id="helperPassword">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('helperPassword')}" th:errors="*{helperPassword}" >Incorrect date</p>

                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Update data</button>
                        </div>
                    </form>
                </div>

            </div>

        </div><!-- /.col-md-offset-3 col-md-6 -->
    </div><!-- /.row -->
</div>

<script>  document.addEventListener("DOMContentLoaded",getName())
function getName () {
    $.get("/user/name",function (name,status){
        $("#navbardrop").html(name);
    });
};
</script>