<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Employee Management System</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link th:href="@{/css/delete.css}" type="text/css" rel="stylesheet" href="../public/css/delete.css" >


</head>
<body>

<th:block th:replace="fragments/header :: header"></th:block>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3"> <!-- ?????? ? ???????? ???????-->



            <br><br><br><br><br><br><br>


            <div class="tab">

                <hr>
                <div class="form-group">
                <h3> profile data</h3>


                <ul >

                    <li>email:
                        <th th:text="${user.email}">email</th>
                    </li>
                    <li>firstName:
                        <th th:text="${user.firstName}">firstName</th>
                    </li>
                    <li>lastName:
                        <th th:text="${user.lastName}">lastName</th>
                    </li>
                    <li>number:
                        <th th:text="${user.number}">number</th>
                    </li>

                </ul>
                </div >

                <hr>

        </div>
    </div>
</div>
</div>
<script>
    document.addEventListener("DOMContentLoaded",getName())
    function getName () {
    $.get("/user/name",function (name,status){
        $("#navbardrop").html(name);
    });
};
</script>
</body>
</html>